keybinds {
    normal {
        bind "Enter" {
            // Passthru `Enter`.
            WriteChars "\u{000D}";
            // Invoke autolock to immediately assess proper lock state.
            // (This provides a snappier experience compared to
            // solely relying on `reaction_seconds` to elapse.)
            MessagePlugin "autolock" {};
        }
    }

    locked {
        bind "Alt n" { NewPane; }
    }

    search {
        bind "Shift N" { Search "up"; }
    }

    shared_except "move" "locked" {
        unbind "Ctrl h"
        bind "Ctrl m" { SwitchToMode "Move"; }
    }

    shared {
        bind "Alt f" { ToggleFloatingPanes; }
        bind "Ctrl Shift T" { NewTab; }

        bind "Ctrl Shift H" { GoToPreviousTab; }
        bind "Ctrl Shift L" { GoToNextTab; }
        bind "Ctrl Shift J" { GoToPreviousTab; }
        bind "Ctrl Shift K" { GoToNextTab; }
    }

    shared_except "locked" {
        bind "Ctrl h" { MoveFocus "Left"; }
        bind "Ctrl l" { MoveFocus "Right"; }
        bind "Ctrl j" { MoveFocus "Down"; }
        bind "Ctrl k" { MoveFocus "Up"; }

        unbind "Alt h" "Alt l" "Alt j" "Alt k"
        unbind "Alt Left" "Alt Right" "Alt Down" "Alt Up"
    }
}
