* {
  font-family: FantasqueSansMono Nerd Font;
  font-size: 16px;
  min-height: 0;
}

#waybar {
  background: transparent;
  color: @text;
}

#privacy {
  margin-top: 10px;
  margin-left: 1rem;
}

#privacy-item {
  color: @surface0;
  background-color: @maroon;
  border-radius: 1rem;
  padding: 0 0.75rem;
  margin: 0 0.25rem;
}

#workspaces {
  border-radius: 1rem;
  margin-top: 10px;
  padding: 0 0.5rem;
  margin-left: 1rem;
  background-color: @surface0;
}

#workspaces button {
  color: @lavender;
  border-radius: 1rem;
  padding: 0.4rem;
}

#workspaces button.active {
  color: @sky;
  border-radius: 1rem;
}

@keyframes blinker {
  50% {
    opacity: 0.6;
  }
}

#workspaces button.urgent {
  color: @red;
  animation: blinker 3s linear infinite;
}

#workspaces button:hover {
  color: @sapphire;
  background-color: @surface0;
  border-radius: 1rem;
}

#systemd-failed-units.degraded {
  color: @surface0;
  background-color: @maroon;
  border-radius: 1rem;
  padding: 0 1rem;
  margin-top: 10px;
}

#window {
  background-color: @surface0;
  border-radius: 1rem;
  padding: 0 2rem;
  margin-top: 10px;
}

window#waybar.empty #window {
  background-color: transparent;
}

#tray,
#backlight,
#clock,
#battery,
#power-profiles-daemon,
#network,
#bluetooth,
#idle_inhibitor,
#language,
#pulseaudio,
#custom-lock,
#custom-power {
  background-color: @surface0;
  padding: 0.5rem;
  margin-top: 10px;
}

#clock {
  color: @blue;
  border-radius: 0px 1rem 1rem 0px;
  padding-right: 1rem;
  margin-right: 1rem;
}

#idle_inhibitor {
  font-size: 24px;
  padding: 0 0.5rem;
  color: @blue;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
}

#backlight, #battery {
  border-radius: 0;
}

#pulseaudio {
  color: @maroon;
  border-radius: 1rem 0px 0px 1rem;
  padding-left: 1rem;
}

#custom-lock {
  border-radius: 1rem 0px 0px 1rem;
  color: @lavender;
  padding-left: 1rem;
  margin-left: 1rem;
}

#custom-power {
  padding-right: 1rem;
  margin-right: 1rem;
  border-radius: 0px 1rem 1rem 0px;
  color: @red;
}

#tray {
  padding: 0 1rem;
  border-radius: 1rem;
}
